.card-container {
  display: flex;
  width: 1000px;
  height: 350px;
  background-color: var(--Blue-950);
  border-radius: 7px;
}

.card-image {
  display: flex;
  max-width: 400px;
  max-height: 700px;
  justify-content: flex-end;
}

.header-text {
  display: flex;
  flex-wrap: wrap;
  color: var(--white-heading);
  width: 100px;
  height: 100px;
}
span {
  color: var(--Purple-500);
}

.content {
  color: var(--white-para);
}

.stats {
  color: var(--white-para);
  gap: 50px;
}
.stats-values {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white-heading);
}
