.card-container {
  background-color: var(--Blue900);
  border-radius: 16px;
  padding: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.card-image {
  max-width: 209px;
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.card-title {
  color: var(--White);
}
.content {
  color: var(--Blue-800);
}

.card-value {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  color: var(--cyan400);
}
.deadline {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--cyan400);
}
.card-divider {
  border: 1px solid var(--Blue-800);
}
.creator-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid var(--White);
}
.creator-name {
  color: var(--White);
  font-weight: 600;
}
