body {
  background-color: hsl(217, 54%, 11%);
}
.card-container {
  width: 1000px;
  padding: 100x;
  box-sizing: border-box;
}
.card-image {
  max-width: 209px;
  max-height: 200px;
}
.card-title {
  color: white;
}
.content {
  color: hsl(215, 51%, 70%);
}

.value {
  color: hsl(178, 100%, 50%);
}
.deadline {
  color: hsl(215, 52%, 70%);
}
.creator-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(215, 52%, 70%);
}
